@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@500&family=Parisienne&family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:  rgba(202, 22, 101, 0.8)
    
}

.logo{
    height: 170px;
    width: 170px;
    background-color: white;
    cursor: pointer;
}
.logo:hover{
    background-color: rgba(202, 22, 101, 0.8);
    transition: all 0.5s ease 0s;
}

li, a{
    font-family: "Great Vibes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(0,0,0);
    height: 170px;
}

.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0 50px;
    
}
.nav__links li a{
    transition: all 0.3s ease 0s;
    font-size: 30px;
}
.nav__links li a:hover{
    color:rgba(202, 22, 101, 0.8)
}
.cta{
    color:rgba(202, 22, 101, 0.8);
    font-size: 1.5em;
}
.cta:hover{
    color:rgba(202, 22, 101, 0.5)
}

.container{
display: flex;
justify-content: space-around;
width: 100%;
height: 780px;
align-items: center;

/* background-image: url(./Images/flowers.jpeg); */
background-color:rgba(202, 22, 101, 0.8)
}
.photo{
    height: 100%;
    /* margin: 2px 0px; */
    /* /* border-radius: 50%;  */    
}
p{
    color:white;
    font-family: "STIX Two Text", sans-serif;
    margin: 10px;
    font-size: 70px;
    margin-left: 10px;
}
.slogan button{
    font-family: "STIX Two Text",sans-serif;
    font-size: 20px;
    color:white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 3px;
    width: 100%;
    margin-top: 80px;
    background-color: rgba(42, 42, 42, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.slogan button:hover{
    background-color: none;;
    color:rgba(202, 22, 101, 0.9);
    /* border-color:rgba(202, 22, 101, 0.8); */
    background-color: rgba(42, 42, 42, 1);
    

}
